.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav-title{
  color: #61DAFB;
}

.search-bar{
  padding: 10px;
}