.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav-title{
  color: #61DAFB;
}

.search-bar{
  padding: 10px;
}

.nav-button {
  background-color: #61DAFB; 
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bag-form{
  display: grid;
  justify-content: space-evenly;
  padding: 10px;
  row-gap: 10px;
}